server:
  port: 8080

spring:
  application:
    name: fun-chat

  datasource:
    url: jdbc:postgresql://localhost:5432/fun_chat
    username: postgres
    password: postgres1
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Swagger/OpenAPI
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui/index.html
    operations-sorter: method

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.fun_chat: DEBUG
  file:
    name: logs/fun_chat.log
  logback:
    rollingpolicy:
      file-name-pattern: logs/fun_chat-%d{yyyy-MM-dd}.%i.log
      max-history: 7
      max-file-size: 10MB
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%5p) %clr([%t]){faint} %clr(%-40.40logger{39}){cyan} : %m%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"

